<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Index</title>
		<style type="text/css" media="screen">
			h1 {text-align: center;}
			h2 {text-align: center;}
			p {text-align: center;}
			form {text-align: center;}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 40%;
			}
		</style>
	</head>
	<body>
		<h1>Cosas</h1>
		<h2>Alberto Oporto Ames</h2>
		<img src="/static/images/cs.png"/>
		<p>
			<a href="login.html">Login</a>
		</p>
		<p>
			<a href="grid.html">Grid</a>
		</p>
		<p>
			<a href="chat.html">Chat</a>
		</p>
	</body>
</html>
