<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Login</title>
		<style type="text/css" media="screen">
			h1 {text-align: center;}
			h2 {text-align: center;}
			p {text-align: center;}
			form {text-align: center;}
			div {display: none;}
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 40%;
			}
		</style>
		<script src="/static/node_modules/jquery/dist/jquery.js" charset="utf-8">
		</script>
		<script src="/static/node_modules/js-cookie/src/js.cookie.js" charset="utf-8">
		</script>
		<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
		<script src="/static/js/login.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<table>
			<tr>
				<td> <input name="username" type="text" id="username"> </td>
			</tr>
			<tr>
				<td><input name="password" type="password" id="password"> </td>
			</tr>
			<tr>
				<td><button type="button" onclick="login()" class="btn btn-primary">Login</button></td>
			</tr>
		</table>
		<div id="ok">
			<span class="badge badge-success">Success</span>
		</div>
		<br>
		<div id="no" >
			<span class="badge badge-danger">Danger</span>
		</div>
	</body>
</html>
